body {
  margin: 0; /* stretches out to fill entire screen */
  font-family: "Roboto", serif;
}

.homecontainer {
  /* how to stretch sidebar and main to full length? */
  display: grid;
  grid-template-columns: 300px 1fr;
}

.sidebar {
  display: grid;
  grid-template-rows: 70px 70px 70px 1fr;
  background-color: lightyellow;
  /* height: 750px; */
  height: auto;
}

.main {
  display: grid;
  justify-content: center;
  background-color: lightgreen;
  /* height: 750px; */
  height: auto; /* is this based on how many rows are in notescontainer? */
  width: auto;
  grid-template-rows: 70px 30px 1fr;
}

.apptitle {
  grid-row: 1;
  background-color: #4caf50;
  border: none;
  color: white;
  /* padding: 15px 15px; */
  text-align: center;
  text-decoration: none;
  display: block;
  height: 40px;
  line-height: 40px;
  margin-top: 15px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 26px;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.projectheader {
  grid-row: 3;
  border-bottom: 1px solid grey;
  /* border: 1px solid grey; */
  color: black;
  text-align: left;
  text-decoration: none;
  display: block;
  height: 40px;
  line-height: 40px;
  margin-top: 15px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 26px;
  /* border-radius: 10px; */
  /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
}

.newprojectbutton {
  float: right;
  background-color: inherit;
  border: none;
  cursor: pointer;
  font-size: 30px;
  border-radius: 50px;
  transition-duration: 0.4s;
}

.newprojectbutton:hover {
  background-color: #4caf50;
  color: white;
  border-radius: 50px;
}

.projectsdiv {
  grid-row: 4;
}

.project {
  color: black;
  font-size: 20px;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.projectinput {
  background-color: lightgreen;
  color: black;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  /* width: 60px; */
  margin-left: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 0.4s;
  cursor: pointer;
}

.saveproject {
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.saveprojectbtn {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  width: 130px;
  height: 30px;
  margin-top: 15px;
  font-size: 18px;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 0.4s;
  cursor: pointer;
}

.buttoncontainer {
  display: flex;
  grid-row: 1;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.newnotebutton {
  /* grid-row: 1; */
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  /* padding: 15px 15px; */
  text-align: center;
  text-decoration: none;
  display: block;
  width: 300px;
  height: 40px;
  /* line-height: 40px; */
  /*  margin-top: 15px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px; */
  font-size: 26px;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 0.4s;
  cursor: pointer;
}

.newnotebutton:hover {
  background-color: lightyellow;
  color: black;
}

.popupcontainer {
  grid-row: 2;
  display: flex; /*! was none */
  flex-direction: column;
  align-items: center;
}

.popupbox {
  position: absolute;
  top: 20%;
  z-index: 100;
  width: 450px;
  height: 450px;
  font-size: 30px;
  background-color: lightyellow;
  /* transition: 0.25s all ease-in-out; */ /* try to make a transition */
  /* opacity: 0.0; */
  border-radius: 3px;
  border: none;
  /* border: 3px solid black; */
  text-align: center;
  color: black;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* .popupbox:active {
    opacity: 1.0;
} */

.notescontainer {
  grid-row: 3;
  min-height: 1090px; /* ???? */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr; /* ? how to set for unlimited rows, based on notes -- try auto? */
  grid-gap: 30px;
  opacity: 1;
}

.note {
  display: grid;
  /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr; ? can these be %? make the duedate and prior smaller */
  grid-template-rows: 23% 50% 10% 5% 5%; /* ? can these be %? make the duedate and prior smaller */

  background-color: lightyellow;
  color: black;
  height: 250px;
  width: 250px;
  border-radius: 3px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.scroll {
  overflow-x: hidden;
  overflow-y: auto;
  white-space: normal;
}

.notediv {
  margin-top: 0;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 0;
}

.notedivtitle {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
  overflow: hidden;
}

.notedivduedate {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 14px;
  font-weight: bold;
  margin: 15px;
}

.notedivpriority {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 14px;
  margin: 15px;
}

.high {
  width: fit-content;
  color: white;
  background-color: #f44336;
  padding: 1px 5px;
  border-radius: 8px;
}

.medium {
  width: fit-content;
  color: black;
  background-color: #ffc107;
  padding: 1px 5px;
  border-radius: 8px;
}

.low {
  width: fit-content;
  color: black;
  background-color: lightgreen;
  padding: 1px 5px;
  border-radius: 8px;
}

.noteform {
  display: grid;
  /* margin-top: 20px; */
  height: 450px;
  grid-template-rows: 60px 130px 60px 60px 60px 60px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.notetitle {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1;
  font-family: inherit;
  font-size: 20px;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.description {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 2;
  width: 90%;
  height: 120px;
  resize: none;
  font-family: inherit;
  font-size: 20px;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.projectselect {
  grid-column: 1;
  grid-row: 3;
  justify-self: left;
  margin-left: 25px;
  font-size: 18px;
}

.duedate {
  grid-column: 1;
  grid-row: 4;
  justify-self: left;
  margin-left: 25px;
  /* padding-right: 80px; */
  font-size: 18px;
}

.duedatecal {
  grid-column: 2;
  grid-row: 4;
  margin-right: 25px;
}

.prioritylabel {
  grid-column: 1;
  grid-row: 5;
  justify-self: left;
  margin-left: 25px;
  /* padding-right: 80px; */
  font-size: 18px;
}
.trashicondiv {
  grid-column: 2;
  justify-self: right;
}

input {
  width: 90%;
  margin: 8px 0;
  padding: 10px;
  background-color: lightyellow;
  /* border: 0.25px solid grey; */
  box-sizing: border-box;
}

textarea {
  width: 90%;
  background-color: lightyellow;
  box-sizing: border-box;
}
/* input[type="text"] {
  font-family: inherit;
  font-size: 20px;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
} */

select {
  grid-column: 2;
  /* grid-row: 5; */
  margin-right: 25px;
  width: 200px;
  padding: 10px;
  border-radius: 10px;
}

.savebutton {
  grid-row: 6;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  width: 200px;
  height: 30px;
  margin-top: 15px;
  font-size: 18px;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 0.4s;
  cursor: pointer;
}

/* .savebutton:hover {
  background-color: lightyellow;
  color: black;
} */
